.app{
	background-color: #2F3845;
	overflow: auto; 
	height: 100vh;
	width: 100vw;
	padding: 20px;
}


@media (min-width: 900px){
	.left {
	width: 25%;
	height: 95%;
	position: fixed;
	overflow: hidden;
	background-color: #485465;
}

}



.left-top, .left-bottom {
	color: #ffffff;
}

.left-top {
	height: 55%
}

.left-bottom {
	text-align: center;
	padding-top: 20px;
	height: 40%;
}

img {

	position: relative;
	width: 100%;
	height: 100%; 
	object-fit: cover;
	
}

.social-links > a {
	margin: 10px;
	font-size: 30px;
	color: #ffffff;
	
}

.social-links > a:hover {
	margin: 10px;
	font-size: 30px;
	color: #101D2E;
}

@media (min-height: 900px) {
	.right {
	float: right;
	width: 73%;
	height: 95%;

	}
}


.intro-card {
	color: #ffffff;
}

h3 {
	color: #64FFDA;
	margin: 30px;
}

p {
	margin: 30px;
	color: #ffffff;
}

.skill-category {
	color: #ffffff;
	margin-left: 30px;
	margin-bottom: 10px;
}

strong {
	color: #64FFDA;
}

hr {
	background-color: #485465;
}

.intro-card, .skills-card, .education-card, .experience-card {
	margin-top: 50px;
}

.year {
	opacity: 40%;
}

.edu-left, .edu-right, .edu-middle {
	display: inline-table;

} 


.exp-left, .exp-right {
	width: 50%;
	display: inline-table;
}
